<header>
  <div class="logo">
    <img routerLink="/" src="../../../assets/logo.png" height="40px" width="40px">
  </div>
  <div class="nav">
    <ul>
      <li>
        <a >Lost Items</a>
      <li>
        <a >Found Items</a>
      </li>
      <li *ngIf="!isAuth">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuth" class="menu-container">
        <a>Profile</a>
        <div class="menu">
          <a routerLink="/customer-profile">Profile</a>
          <a routerLink="/customer-profile">History</a>
          <a (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</header>
